@model BankersCup.Models.Game

@{
    ViewBag.Title = "Teams Registered for " + Model.Name;
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}

<h2>Registration for @Model.Name</h2>

<p>
    @Html.ActionLink("Register New Team", "Register", new { id = Model.GameId }, new { @class = "dark-text" }) | @Html.ActionLink("Import Teams", "ImportTeams", new { id = Model.GameId }, new { @class = "dark-text" })
</p>
<table class="table">
    <tr>
        <th>
            Team Name
        </th>
        <th>
            Team Members
        </th>
        <th>
            Tee Time
        </th>
    </tr>

@foreach (var item in Model.RegisteredTeams) {
    <tr>
        <td>
            @Html.ActionLink(item.TeamName, "Register", new { id = Model.GameId, teamId = item.TeamId }, new { @class = "dark-text" })
        </td>
        <td>
            @foreach (var p in item.Players)
            {
                <p>@Html.DisplayFor(modelPlayer => p.Name) (@Html.DisplayFor(modelPlayer => p.Company))</p>
            }
        </td>
        <td>
            @item.TeeTime.ToString("hh:mmtt") on Hole @item.StartingHole
        </td>
    </tr>
}

</table>
