@model BankersCup.Models.AdminLeaderboardViewModel

@{
    ViewBag.Title = "Leaderboard";
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}

<h2>Leaderboard</h2>
<select id="selectLeaderboard">
    <option selected value="leaderboardByTeams">By Teams</option>
    <option value="leaderboardByInsitutions">By Institutions</option>
</select>
<table id="leaderboardByTeams" class="table">
    <tr>
        <th>
            Team Name
        </th>
        <th>
            Total Score
        </th>
        <th>
            Against Par
        </th>
        <th>
            # Holes Played
        </th>
        <th>
            Current Hole
        </th>
    </tr>

@foreach (var item in Model.ByTeams) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalScore)
        </td>
        <td>
            @if (item.HolesPlayed > 0)
            {
                @item.AgainstPar.ToString("+#;-#;E")
            }
            else
            {
                <text>---</text>
            }

        </td>

        <td>
            @Html.DisplayFor(modelItem => item.HolesPlayed)
        </td>
        <td>
            @item.CurrentHole.ToString("#;-#;--")
        </td>
    </tr>
}

</table>

<table style="display:none;" id="leaderboardByInsitutions" class="table">
    <tr>
        <th>
            Institution Name
        </th>
        <th>
            Total Score
        </th>
        <th>
            Against Par
        </th>
        <th>
            # Holes Played
        </th>
    </tr>

    @foreach (var item in Model.ByInstitutions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalScore)
            </td>
            <td>
                @item.AgainstPar.ToString("+#;-#;E")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HolesPlayed)
            </td>
        </tr>
    }

</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#selectLeaderboard").change(function () {
                var selectedValue = $("#selectLeaderboard option:selected").val();
                $("table").each(function () {
                    if($(this).attr("id") == selectedValue)
                    {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                })
            });
        });
    </script>
    }