@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="header">
    <img src="~/Content/icon_menu.png" class="menu-img" />
</div>*@
<div class="logo-bar">
    <img src="~/Content/logos_small.png" />
</div>
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <img src="~/Content/logo_sml.png" class="header-image" />
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("My Scorecard", "Scorecard", "Game", new { id = ViewBag.GameId }, null)</li>
                <li>@Html.ActionLink("Leaderboard", "Leaderboard", "Game", new { id = ViewBag.GameId }, null)</li>
                <li>@Html.ActionLink("Add Next Score", "AddHole", "Game", new { id = ViewBag.GameId }, null)</li>
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    <div class="content-dialog">
        <div class="content-dialog-header">
            <span class="content-dialog-title">@ViewBag.Title</span>
            @if (ViewBag.CloseUrl != null)
            { <a class="content-dialog-close-span" href="@ViewBag.CloseUrl"><span>X</span></a> }
        </div>
        <div class="content-dialog-body">
            @RenderBody()
        </div>
    </div>

    @section scripts {
        @RenderSection("scripts", required: false)
    }
    <footer>
        <a href="@Url.Action("Contact", new { id = ViewBag.GameId, topic = "Cloud" })"><img class="footer-ad" src="~/Content/ad_1.png" /></a>
    </footer>
</div>


