@model BankersCup.Models.AddHoleScoreViewModel

@{
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
    ViewBag.Title = "Add Score";
    //ViewBag.CloseUrl = Url.Action("Scorecard", "Game", new { id = ViewBag.GameId });
}
@if (@Model.AllHoleScoresEntered)
{
    <p>Your round is done my friend.</p>
    @Html.ActionLink("Return to Game", "Details", new { id = Model.GameId })
} else { 
using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.HoleNumber)
        @Html.HiddenFor(model => model.Distance)
        @Html.HiddenFor(model => model.Par)
        @Html.HiddenFor(model => model.GameId)
        @Html.HiddenFor(model => model.TeamId)
        @Html.HiddenFor(model => model.MoveNext)
        @Html.HiddenFor(model => model.MovePrevious)
        @Html.HiddenFor(model => model.SaveScore)

    @*<img class="dialog-section-image" src="~/Content/icon_round_details.png" />*@
    <table class="table-dialog-content">
        <thead>
            <tr>
                <td>Hole</td>
                <td>Par</td>
                <td>Avg. Score</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.HoleNumber</td>
                <td>@Model.Par</td>
                <td>@Model.AverageScore.ToString("0.0")</td>
            </tr>
        </tbody>
    </table>
    <table class="table-dialog-content">
        <thead>
            <tr>
                <td>Enter Team Score</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DropDownListFor(model => model.TeamScore, new SelectList(Enumerable.Range(1, 8)), new { @class = "score-dropdown" })
                    <input id="saveScore" type="submit" value="Save Score" class="green-button dark-button-2col table-data-entry" />
                </td>
            </tr>
            <tr>
                <td>
                    <input id="movePrevious" type="submit" value="Previous" class="green-button dark-button-2col table-data-entry" />
                    <input id="moveNext" type="submit" value="Next" class="green-button dark-button-2col table-data-entry" />
                </td>
            </tr>
        </tbody>
    </table> 

    }
}

@section scripts {
    <script>
        $(document).ready(function () {
            $("#TeamScore").select();
            $("#moveNext").click(function () {
                $("#MoveNext").val("True");
            });
            $("#movePrevious").click(function () {
                $("#MovePrevious").val("True");
            });
            $("#saveScore").click(function () {
                $("#SaveScore").val("True");
            });
        })

    </script>
}