@model BankersCup.Models.GalleryViewModel
@{
    ViewBag.Title = "Image Gallery";
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}

<h2>Image Gallery</h2>
@using (Html.BeginForm("Gallery", "Game", new { id = ViewBag.GameId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.UploadedImage, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" id="UploadedImage" name="UploadedImage" />
        </div>
    
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Upload" class="btn btn-default" />
        </div>
    </div>
    <div class="form-group">
        @foreach(var image in Model.Images)
{
    <img src="@image.Url" alt="@image.Caption" />
}    
</div>
</div>
}