@model BankersCup.Models.LeaderboardViewModel

@{
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
    ViewBag.Title = string.Format("Leaderboard through {0} hole{1}...", Model.HolesPlayed, Model.HolesPlayed == 1 ? string.Empty : "s");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CurrentTeam.TeamId)
    @Html.HiddenFor(model => model.CurrentTeam.TeamName)


    <img class="dialog-section-image" src="~/Content/icon_leaderboard.png" />
<table class="table-dialog-content">
    <tbody>
        @{
    bool isCurrentTeam = false;
            int previousScore = Int32.MinValue;
            bool showPosition = true;
        }
        @for (int count = 0; count < Model.Teams.Count; count++)
        {
            showPosition = Model.Teams[count].AgainstPar != previousScore;
            previousScore = Model.Teams[count].AgainstPar;
            isCurrentTeam = Model.CurrentTeam.TeamName == Model.Teams[count].TeamName;


            <tr class="@if(Model.CurrentTeam.TeamName == Model.Teams[count].TeamName) {<text>current-team</text>}">
                <td class="leaderboard-table-position">@if (showPosition)
                {<text>#@(count + 1)</text>}</td>
                <td class="leaderboard-table-team">@Model.Teams[count].TeamName</td>
                <td class="leaderboard-table-score">@Model.Teams[count].AgainstPar.ToString("+#;-#;E")</td>
            </tr>
        }
    </tbody>
</table>

<table class="table-dialog-content">
    <thead>
        <tr>
            <td colspan="2">Comments</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Model.Comments)
        {
            <tr class="comment-table-row">
                <td class="comment-cell-teamname">
                    <span>@comment.TeamName:</span>
                </td>
                <td class="comment-cell-contents"><p>@comment.Content</p></td>
            </tr>
        }
        <tr>
            <td colspan="2">
                <textarea name="NewComment"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input id="saveComment" type="submit" value="Enter Comment" class="green-button dark-button-full table-data-entry" />
            </td>

        </tr>
    </tbody>


</table>
}