@model BankersCup.Models.ScorecardViewModel

@{
    ViewBag.Title = "Scorecard";
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
}



<img class="dialog-section-image" src="~/Content/icon_round_details.png" />
<table class="table-dialog-content">
    <thead>
        <tr>
            <td>Hole</td>
            <td></td>
            <td>Score</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var score in Model.HoleScores)
        {
            <tr>
                <td>@score.HoleNumber</td>
                <td></td>
                <td><span class="scorecard-score">@score.Score (@score.AgainstPar.ToString("+#;-#;E"))</span><a href="@Url.Action("AddHole", new { id = Model.GameId, holeNumber = score.HoleNumber })"><img src="~/Content/icon_edit.png" /></a></td>
            </tr>
        }
    </tbody>
    @if (Model.HoleScores.Count < 18)
    {
        <tfoot>
            <tr>
                <td colspan="3">
                    <a href="@Url.Action("AddHole", new { id = Model.GameId })"><input type="button" value="Enter Score" class="add-hole-button" /></a>
                </td>
            </tr>
        </tfoot>
        
    }

</table>
